{% include base_path %}

<div class="masthead" style="background-color: rgba(240,255,240, 0.9);">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav" style="background-color: rgba(240,255,240, 0.0);">
        <button><div class="navicon"></div></button>
        <div style="display: inline-block;">
          <ul class="visible-links">
            {% if page.url != '/' %}
              <li class="masthead__menu-item masthead__menu-item--lg" style="font-weight: bold;"><a href="{{ base_path }}/">{{ site.title }}</a></li>
            {% endif %}
          </ul>
        </div>
        <div style="float: right;">
        <ul class="visible-links" style="text-align: right; display: flex;">
          <!-- show only the first link if the url is not the home page -->
          <!-- {% if page.url != '/' %}
            <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% else %}
            <li class="masthead__menu-item masthead__menu-item--lg hidden"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% endif %} -->
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>